@import "mediawiki.mixins";

#googleSearchLoading {
	margin: 2em 0;
	text-align: center;
	font-size: 18px;
}

// Hide labels
.gs-per-result-labels {
	display: none;
}

// Hide thumbnails
.gs-web-image-box {
	display: none;
}

/* Hard overrides using body.mw-special-WRGoogleSearch */
body.mw-special-WRGoogleSearch {
	header h1 {
		.background-image( 'images/google_custom_search_smnar.png' );
		padding-top: 0;  /* image height=24px, font size=36px, 24-36 = -12px */
		background-position: left 6px; /* image height=24px, font size=36px, 24-36 = -12px, -12px / 2 = -6px */
		padding-left: 75px; /* image width = 65px, + 10px for spacing */
		background-repeat: no-repeat;
	}

	.gs-result .gs-title {
		color: @link-color;
		text-decoration: underline;
		height: auto;
	}

	.gs-result .gs-title * {
		color: inherit;
		text-decoration: none;
	}

	/* Hide the URLs in search results, we're on this site anyway */
	.gsc-url-top {
		display: none;
	}

	.gsc-control-cse .gs-snippet {
		color: @content-text-color;
	}
}
